
/* Base du tableau */


table{
    position: relative;
    top: 100px;
    margin-left:15%;
    width: 70%;
    margin-bottom: 50px;
}

tr{
    height: 60px;
}

th, td{
    padding: 40px 40px;
}





/* Titres */
.titre_tab{
    border-top: 3px solid rgba(38,47,46,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(38,47,46,1);
    color: #d8a579;
}

/* Tableau en mode sombre */
#checkbox:checked + #body_borders + #body .titre_tab ,
#checkbox:checked + #body_borders + #body .titre_tab ,
#checkbox:checked + #body_borders + #body .titre_tab {
    /* background-color: rgba(38,47,46,1); */
    
}



/* Cases impaires mode clair */
.impair th, .impair td{
    background-color: #d8a579;
    color: white;
}

/* Cases impaires mode sombre */
#checkbox:checked + #body_borders + #body .impair td,
#checkbox:checked + #body_borders + #body .impair th{
    color: rgb(209, 220, 224);
    /* color:rgb(38,47,46); */
}



/* Cases paires mode clair */
.pair th, .pair td{

    color: black;
}

/* Cases pair mode sombre */
#checkbox:checked + #body_borders + #body .pair td,
#checkbox:checked + #body_borders + #body .pair th{
    color: rgb(209, 220, 224);
    /* color:rgb(38,47,46); */
}

.transp_row th{
    background-color:white;
}


/* #checkbox:checked + #body_borders + #body td, 
#checkbox:checked + #body_borders + #body tr, 
#checkbox:checked + #body_borders + #body th,
#checkbox:checked + #body_borders + #body h1 {
    color: white;
} */

