/* CONTENU DE LA PAGE MAIN */

main{
    position: relative;
    top: 100px;
}
#vid_container{
    position: relative;
    width:640px;
    height:360px;
    margin: auto;
}

#ornement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

iframe{
    position: absolute;
    top:7.5%;
    left:5%;
    width:89.5%;
    height:85% ;
} 