/* ITEM FLEX */

#flex_title{
    margin-top:30px;
    position:relative;
    top: 80px;
    display:flex;
    flex-direction: row;
    height:100px;
   
}

#flex_title>img {
    flex:1;
    height:100%;
}
#title_sep_cont{
    flex:2;
    display: flex;
    flex-direction: column;
}

#title_sep_cont h1{
    flex:1;
}
#title_sep_cont img{
    flex:1;
}

hr{
    display: none;
}

/* CONTENU DE LA PAGE MAIN */

main{
    position: relative;
    top: 100px;
}

#vid_container{
    position: relative;
    width:640px;
    height:360px;
    margin: auto;
}

#ornement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

iframe{
    position: absolute;
    top:5%;
    left:5%;
    width:90%;
    height:90% ;
}

h1{
    letter-spacing: 3px;
}

h2, p{
    text-align: center;
}


@media screen and (min-width:300px) and (max-width:750px) {
    #vid_container{
        width: 300px;
        height: 170px;
    }
}

@media screen and (min-width:1200px) {
    #vid_container{
        width: 960px;
        height: 540px;
    }
}

