/* Base du tableau */

table{
    position: relative;
    top: 100px;
    margin-left:15%;
    width: 70%;
    margin-bottom: 50px;
    border-spacing: 0;
}

tr{
    height: 60px;

}

th, td{
    padding: 40px 40px;
}
td {
    text-align: justify;
}

h2{
    position: relative;
    top:80px;
    text-align: center;
}

#acces_rapide {
    font-size: 1em;
    top:50px;
}



.impair .episode_name{
    color:#ffffff;
}

#checkbox:checked + #body_borders + #body .pair .episode_name{
    color:black;
}

.pair .episode_name{
    color:#000000;
}

p{  
    top:80px;
    position: relative;
    display:inline-block;
    width:70%;
    margin-left:15%;
    text-align: center;
}


#casting_cont{
    position: relative;
    background-color: white;
    width:70%;
    top:80px;
    margin:auto;
    height: fit-content;
    border-radius: 20px;
    z-index: 0;
    padding: 30px;
}


/* Titres */
.titre_tab{
    border-top: 7px solid rgb(148, 130, 121);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(255, 247, 247);
    color: #000000;
}

/* Tableau en mode sombre */
#checkbox:checked + #body_borders + #body .titre_tab {
    border-top: 7px solid #ffbe73;
    background-color: rgba(38,47,46,1);
    background-color: #11181a;
    
}


.flex_li{
    display: flex;
    width:100%;
}

.flex_li span {
    flex: 1;
    padding:0 15px 0 0;
    margin:0;
    align-self:flex-end;
    text-align: right;
}
.flex_li p {
    flex: 1;
    padding:0 0 0 15px;
    margin:0;
    text-align: left;
    align-self:flex-start;
    top:0;
    color:rgb(148, 130, 121);
}



/* Cases impaires mode clair */
.impair th, .impair td{
    background-color:#d8a579 ;
    color: white;
}



/* Cases impaires mode sombre */
#checkbox:checked + #body_borders + #body .impair td,
#checkbox:checked + #body_borders + #body .impair th{
    color: #e7f8ff;
    background-color: rgba(38,47,46,1);;
    /* color:rgb(38,47,46); */
}



/* Cases paires mode clair */
.pair th, .pair td{
    background-color: white;
    color: black;
}


.end_act th{
    border-bottom: 7px solid rgb(148, 130, 121);
    border-bottom-left-radius: 20px;
}

.end_act td{
    border-bottom: 7px solid rgb(148, 130, 121);
    border-bottom-right-radius: 20px;
}

#checkbox:checked + #body_borders + #body .end_act td,
#checkbox:checked + #body_borders + #body .end_act th{
    border-bottom: 7px solid #ffbe73;
    
    /* color: rgb(0, 0, 0);
    background-color: #e7f8ff; */
    /* color:rgb(38,47,46); */
}

/* Cases pair mode sombre */
#checkbox:checked + #body_borders + #body .pair td,
#checkbox:checked + #body_borders + #body .pair th{
    color: rgb(0, 0, 0);
    background-color: #e7f8ff;
    /* color:rgb(38,47,46); */
}

/* #checkbox:checked + #body_borders + #body .pair th {
    color:rgb(83, 174, 190);
} */

.transp_row{
    background-color: transparent;
}

.transp_row_thin td, .transp_row_thin th{
    
    padding:0;
    background-color: transparent;
}

.transp_row_thin{
    height:13px;
}

li{
    top:80px;
}

td { word-break: keep-all;}
/* #checkbox:checked + #body_borders + #body td, 
#checkbox:checked + #body_borders + #body tr, 
#checkbox:checked + #body_borders + #body th,
#checkbox:checked + #body_borders + #body h1 {
    color: white;
} */


#balises{
    position: relative;
    z-index: 1;
}

#casting_cont h2, #casting_cont li, #casting_cont span{
    top:0;
    color:black;
}



#casting_cont ul{
    padding: 0;
}

#checkbox:checked + #body_borders + #body #casting_cont {
    background-color: #090D0E;
}
#checkbox:checked + #body_borders + #body #casting_cont span {
    color:rgb(218, 239, 245);
}
#checkbox:checked + #body_borders + #body #casting_cont li p {
    color:#f5c185;
}


@media screen and (min-width:300px) and (max-width:600px) {
    #body, #body_borders{
        height: 4645px;
    }

    #background_container{
        height: 3295px;
    }



}

@media screen and (max-width:1440px) {
    td{
        text-align: center;
    }
}

@media screen and (min-width:300px) and (max-width:450px) {

    th, td{
        padding: 20px;
    }

    table{
        margin-left: 7%;
    }
    
    p{
        width: 90%;
        margin-left: 5%;
        font-size: 0.9em;
    }
}

@media screen and (min-width:451px) and (max-width:600px) {
    #body, #body_borders{
        height: 5070px;
    }

    #background_container{
        height: 3720px;
    }

    p{
        width: 90%;
        margin-left: 5%;
        font-size: 0.9em;
    }

}

@media screen and (min-width:601px) and (max-width:900px) {
    #body, #body_borders{
        height: 6150px;
    }
    #background_container{
        height: 4800px;
    }

    p{
        width: 90%;
        margin-left: 5%;
        font-size: 1.2em;
    }

}

@media screen and (min-width:901px)  {
    #body, #body_borders{
        height: 5350px;
    }
    #background_container{
        height: 4000px;
    }

}

@media screen and (min-width:1050px)  {
    #body, #body_borders{
        height: 4950px;
    }
    #background_container{
        height: 3600px;
    }

}