@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html{
    overflow-x: hidden;
}
body {
    background-color: rgb(235, 235, 235);
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#checkbox{
    position:fixed;
    top:20px;
    right:13%;
    z-index: 2;

    /* Style de la checkbox */
    appearance: none;
    width:65px;
    height:35px; 
    background-color: white;
    border: 3px solid lightcoral;
    border-radius: 10px;
    
}

/* Ajout d'un bandeau accompagnant le menu */
#bandeau{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:80px;
    background-color: rgb(255, 255, 255);
}

#header {
    /* Style du menu */
    position: sticky;
    top:0px;
    width:100%;
    height:80px;
    background-color: white;
    z-index: 1;

    /* définition de la flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Div vide pour laisser l'espace entre le logo et le menu */
#void {
    flex:1;
}

#logo { 
    flex:1;
    position: relative;
    height:60%;
    width:auto;
    display: flex;
    align-items: center;

}
#logo img{
    width:100%;
    /* height: 100%; */
    margin: auto;
}

/* Conteneur des boutons du menu */
#flex_container {
    display: flex;
    flex: 3;
    justify-content: flex-end;
}

.flex_item{
    flex:1;
}

/* Flex de la case "personnages" qui est plus grande */
#flex_persos{
    flex:1.5;
}

a{
    font-family: 'Rambla', sans-serif;
    text-decoration: none;
    color:black;
}

#main_img{
   position: relative;  
   height:570px;
}

#light_img, #dark_img{
    display: block;
    max-width: 100%;
    position: absolute;
    top:0;
    left:0;
}

#dark_img {
    visibility: hidden;
}


/* Création du footer, 100% de l'écran, et déplacé vers la gauche*/
footer{
    width: 100vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: -10vw;
}

@media screen and (min-width:600px) and (max-width:900px) {
    #void {
        flex:0;
    }
}






/* CONTENU DE LA PAGE MAIN */
/* #vid_container{
    position: relative;
    width:640px;
    height:360px;
    margin: auto;
}

#ornement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

iframe{
    position: absolute;
    top:7.5%;
    left:5%;
    width:89.5%;
    height:85% ;
} */

