<<<<<<< HEAD
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
<<<<<<< HEAD
=======

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


<<<<<<< HEAD

>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
=======

>>>>>>> ef87c11 (Copie du projet initial)
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



>>>>>>> 1c0c83f (ajouts structure)


html{
<<<<<<< HEAD
    overflow-x: hidden;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}

body {
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
=======
=======
>>>>>>> b4b367c (corrections background sticky + ajustements styles de texte)
    /* height:100%; */
    /* width: 100%; */
>>>>>>> 6beafbd (Index et personnages sans ajustements)
}

#body {
    position: relative;
    height: 1500px;
}
=======
    height:100%
=======
    /* height:100%; */
    /* width: 100%; */
>>>>>>> bf4982f (Structure ok)
}

>>>>>>> ef87c11 (Copie du projet initial)

=======
>>>>>>> 35758d1 (Fin du projet ?)
#checkbox{
    position:fixed;
    top:20px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    right:13%;
=======
    right:13vw;
>>>>>>> 1c0c83f (ajouts structure)
    z-index: 2;
=======
    right:10vw;
    z-index: 3;
>>>>>>> bf4982f (Structure ok)

<<<<<<< HEAD
    /* Style de la checkbox */
=======
    right:10vw;
    z-index: 3;

    /* Style de la checkbox avant sélection*/
>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======
    /* Style de la checkbox avant sélection*/
>>>>>>> ef87c11 (Copie du projet initial)
    appearance: none;
    width:65px;
    height:35px; 
    background-color: white;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    border: 3px solid lightcoral;
    border-radius: 10px;
    
}

/* Ajout d'un bandeau accompagnant le menu */
=======
    border: 2.5px solid #d39332;
    border-radius: 25px;
    box-shadow: 0px 2px 8px 2px rgb(214, 214, 214);
}

#checkbox:checked{
    /* Style de la checkbox après sélection */
    background-color: rgb(2, 89, 104);
    border: 2px solid rgb(214, 214, 214);
    box-shadow: 0px 2px 8px 3px rgb(17, 17, 17);
}
=======
    border: 2.5px solid rgb(201, 110, 43);
=======
    border: 2.5px solid #d39332;
>>>>>>> ef87c11 (Copie du projet initial)
    border-radius: 25px;
    box-shadow: 0px 2px 8px 2px rgb(214, 214, 214);
}

<<<<<<< HEAD

>>>>>>> 1c0c83f (ajouts structure)
=======
#checkbox:checked{
    /* Style de la checkbox après sélection */
    background-color: rgb(2, 89, 104);
    border: 2px solid rgb(214, 214, 214);
    box-shadow: 0px 2px 8px 3px rgb(17, 17, 17);
}
>>>>>>> ef87c11 (Copie du projet initial)

#checkbox::before{
    /* Style du curseur */
    /* content:nécéssité de mettre un contenu vide sinon rien ne s'affiche */
    content:'';
    
    cursor:pointer;
    position: absolute;
    width:26px;
    height:26px;
    top:2.5px;
    left:2.5px;   
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #d8a579;
=======
    background-color: #4E9CC2;
>>>>>>> 1c0c83f (ajouts structure)
=======
    background-color: #d8a579;
>>>>>>> ef87c11 (Copie du projet initial)
    border-radius: 25px;
    transition:0.4s ;
}

#checkbox:checked::before{
    left:31px;
    transition-timing-function: ease-out;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> ef87c11 (Copie du projet initial)
    background-color:  rgb(214, 214, 214);
}


/* ------------------ Définition du corps principal -------------------- */

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
    overflow-y: visible;
    overflow-x: hidden;
}

#checkbox:checked+#body_borders+#body{
    background-color: #0c0e0e;
}

#body {
    position: absolute;
=======
=======
    overflow-x: hidden;
>>>>>>> bf4982f (Structure ok)
}

#checkbox:checked+#body_borders+#body{
    background-color: #090D0E;
}

#body {
<<<<<<< HEAD
    position: relative;
>>>>>>> ef87c11 (Copie du projet initial)
=======
    position: absolute;
>>>>>>> 0242e4d (début des finitions)
    height: 3000px;
    width:80%;
    margin-left: 10vw;
    background-color: white;

}

#body_borders{
    position: absolute;
    width: 100%;
    height: 3000px;
    margin-left: 0;
    z-index: -2;
    background-color: #ffffff;
}

#checkbox:checked+#body_borders{
<<<<<<< HEAD
    background-color: #0c0e0e;
}
=======
}


>>>>>>> 1c0c83f (ajouts structure)
=======
    background-color: #090D0E;
}
>>>>>>> ef87c11 (Copie du projet initial)

/* --------------------------HEADER----------------------------------------*/

/* Ajout d'un bandeau "bordure" accompagnant le menu */
<<<<<<< HEAD
<<<<<<< HEAD

>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======
>>>>>>> 1c0c83f (ajouts structure)
=======

>>>>>>> ef87c11 (Copie du projet initial)
#bandeau{
    position: fixed;
<<<<<<< HEAD
    z-index: 2;
=======
    z-index:2;
>>>>>>> 1af5fd1 (ajout structure titre 2)
    top: 0;
    left: 0;
    width:100vw;
    height:80px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: rgb(255, 255, 255);
=======
    background: linear-gradient(0deg, rgb(201, 198, 198) 0%, rgba(255,255,255,1) 7%);
>>>>>>> 1c0c83f (ajouts structure)
=======
    background: linear-gradient(0deg, rgba(226,192,192,1) 0%, rgba(255,255,255,1) 8%);
}

#checkbox:checked+#body_borders+#body>#bandeau {
    background: rgb(24,27,26);
    background: linear-gradient(0deg, rgba(24,27,26,1) 3%, rgba(38,47,46,1) 11%);
>>>>>>> ef87c11 (Copie du projet initial)
}
/* --------- Navbar --------- */

/*---- Partie 1: structure globale de la navbar ---- */

#header {
    /* Style du menu */
    position: fixed;
    top:0px;
    width:80%;
    height:80px;
    background: linear-gradient(0deg, rgba(226,192,192,1) 0%, rgba(255,255,255,1) 8%);

<<<<<<< HEAD
    z-index: 1;
=======
    background: linear-gradient(0deg, rgba(226,192,192,1) 0%, rgba(255,255,255,1) 8%);
=======
    background-color: #ffffff;
    box-shadow: inset 0 -7px 7px -5px rgb(255, 180, 180);
>>>>>>> a7e0175 (Site fini)
}

#checkbox:checked+#body_borders+#body>#bandeau {
    background: rgba(38,47,46,1);
    box-shadow: inset 0 -7px 7px -5px rgba(0,0,0,0.6);
    /* background: linear-gradient(0deg, rgba(24,27,26,1) 3%, rgba(38,47,46,1) 11%); */
}
/* --------- Navbar --------- */

/*---- Partie 1: structure globale de la navbar ---- */

#header {
    /* Style du menu */
    position: fixed;
    top:0px;
    width:80%;
    height:80px;
    background-color: #ffffff;
    box-shadow: inset 0 -7px 7px -5px rgb(255, 180, 180);

    z-index: 2;
>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======
    z-index: 2;
>>>>>>> bf4982f (Structure ok)

    /* définition de la flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
<<<<<<< HEAD
<<<<<<< HEAD

<<<<<<< HEAD
/* Div vide pour laisser l'espace entre le logo et le menu */
=======
=======
>>>>>>> ef87c11 (Copie du projet initial)
#checkbox:checked+#body_borders+#body>#header {
    background: rgba(38,47,46,1);
    box-shadow: inset 0 -7px 7px -5px rgba(0,0,0,0.6);
    /* background: linear-gradient(0deg, rgba(24,27,26,1) 3%, rgba(38,47,46,1) 11%); */
}

/* Conteneur flex1 : Div vide pour laisser l'espace entre le logo et le menu */
>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======
/* Conteneur flex1 : Div vide pour laisser l'espace entre le logo et le menu */
>>>>>>> 1c0c83f (ajouts structure)
#void {
    flex:1;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* Conteneur flex 2 : conteneur destiné au logo*/

>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======
/* Conteneur flex 2 : conteneur destiné au logo*/

>>>>>>> 1c0c83f (ajouts structure)
#logo { 
    flex:1;
    position: relative;
    height:60%;
    width:auto;
    display: flex;
    align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 1c0c83f (ajouts structure)
}

#logo img{
    width:100%;
    margin: auto;
}

<<<<<<< HEAD
/* Conteneur des boutons du menu */
=======
}

#logo a{
    width:250px;
    margin: auto;
}

#logo a{
    width:250px;
    margin: auto;
}

#logo img{
    width:100%;
    margin: auto;
}

/* Conteneur flex 3: conteneur des boutons du menu*/
>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======
/* Conteneur flex 3: conteneur des boutons du menu*/
>>>>>>> 1c0c83f (ajouts structure)
#flex_container {
    display: flex;
    flex: 3;
    justify-content: flex-end;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
/* ---- Partie 2: Définition du menu ----*/

/* Définition des boutons */
>>>>>>> 1c0c83f (ajouts structure)
.flex_item{
    flex:1;
    position: relative;
    height: 80px; 
}

/* Personnalisation des liens */
.flex_item>a {

    font-weight: bolder;
    position: absolute; 
    width:100%;
    top:45%;
    font-size: 18px;
    /* inline block: la taille des liens prend la taille du conteneur parent flexItem */
    display: inline-block   ;
    /* comme on est en inline-block, le texte se centre par rapport à la taille du parent */
    text-align: center;
}

#checkbox:checked+#body_borders+#body>#header>#flex_container>.flex_item>a {
   /* color:rgb(209, 220, 224); */
}

.flex_item>a:visited{
    color:black;
}

.hover_underline{
    transition: transform 0.3s;
    transform:scaleX(0);
    transition-timing-function: linear;
}

/* effet de soulignage: ici, on n'appelle la div créee pour cet effet uniquement lors du survol des conteneurs des liens */
.flex_item:hover>.hover_underline {
    position: absolute;
    left:0;
    bottom: 0px;
    background-color: #f8a3a3;
    width: 100%;
    height:1px;
    border: 2px solid #f8a3a3;
    border-radius: 20px;
    transform:scaleX(1);
}

/* effet de soulignage :Mode sombre */
#checkbox:checked+#body_borders+#body>#header>#flex_container>.flex_item:hover>.hover_underline{
    background-color:rgb(49, 139, 135);
    border: 2px solid rgb(49, 139, 135);
 }

/* Flex de la case "personnages" qui est plus grande */
#flex_persos{
    flex:2;
}

/* ---------------------- IMAGE PRINCIPALE ---------------------- */
/* ¨---- Partie1: paramètres généraux ---- */
#main_img{
   position: relative;  
   top:80px;
   width:99%;
   height: calc(80vw * 0.415);
   overflow: hidden;
   z-index: 1;
}


<<<<<<< HEAD
=======
/* ---- Partie 2: Définition du menu ----*/

/* Définition des boutons */
.flex_item{
    flex:1;
    position: relative;
    height: 80px; 
}

/* Personnalisation des liens */
.flex_item>a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    position: absolute; 
    width:100%;
    top:45%;
    font-size: 18px;
    /* inline block: la taille des liens prend la taille du conteneur parent flexItem */
    display: inline-block   ;
    /* comme on est en inline-block, le texte se centre par rapport à la taille du parent */
    text-align: center;
    color: black;
}

#checkbox:checked+#body_borders+#body>#header>#flex_container>.flex_item>a {
   color:rgb(209, 220, 224);
}



.hover_underline{
    transition: transform 0.3s;
    transform:scaleX(0);
    transition-timing-function: all ease-in-out;
    
}

/* effet de soulignage: ici, on n'appelle la div créee pour cet effet uniquement lors du survol des conteneurs des liens */
.flex_item:hover>.hover_underline {
    position: absolute;
    left:0;
    bottom: 0px;
    background-color: #f8a3a3;
    width: 100%;
    height:1px;
    border: 2px solid #f8a3a3;
    border-radius: 20px;
    transform:scaleX(1);
    /* transition: transform 0.3s; */
}

/* effet de soulignage :Mode sombre */
#checkbox:checked+#body_borders+#body>#header>#flex_container>.flex_item:hover>.hover_underline{
    background-color:rgb(49, 139, 135);
    border: 2px solid rgb(49, 139, 135);
 }

/* Flex de la case "personnages" qui est plus grande */
#flex_persos{
    flex:2;
}

/* ---------------------- IMAGE PRINCIPALE ---------------------- */
/* ¨---- Partie1: paramètres généraux ---- */
#main_img{
   position: relative;  
   top:80px;
   width:99%;
   height: calc(80vw * 0.415);
   overflow: hidden;
   border: 1px solid #f8a3a3;
   z-index: 1;
}
/* Conteneur de l'image: mode sombre */
#checkbox:checked+#body_borders+#body>#main_img{
    border:1px solid #090D0E;
}


>>>>>>> 6beafbd (Index et personnages sans ajustements)
=======

>>>>>>> ef87c11 (Copie du projet initial)
#light_img, #dark_img{
    display: block;
    max-width: 100%;
    position: absolute;
    top:0;
    left:0;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    transition: transform 1s;
    transition-timing-function: ease-out;
}

#light_img:hover, #dark_img:hover{
    transform: scale(1.05);
>>>>>>> 1c0c83f (ajouts structure)
}

/* ---- Partie2 : effets sélection checkbox ---- */
#dark_img {
    visibility: hidden;
}
#checkbox:checked+#body_borders+#body>#main_img>#light_img{
    visibility: hidden;
}
#checkbox:checked+#body_borders+#body>#main_img>#dark_img{
    visibility: visible;
}


/* ------------ TITRE DE LA PAGE --------- */

#flex_title{
    z-index: 1;
    margin-top:30px;
    position:relative;
    top: 80px;
    display:flex;
    flex-direction: row;
    height:120px;
    margin-bottom: 50px;
   
}

#flex_title>img {
    flex:1;
    height:100%;
}
#title_sep_cont{
    flex:2;
    display: flex;
    flex-direction: column;
}

#title_sep_cont h1{
    flex:1;
}
#title_sep_cont img{
    flex:1;
}

hr{
    display: none;
}

@media screen and (min-width:300px) and (max-width:600px) {
    #vid_container{
        width: 300px;
        height: 170px;
    }

    #flex_title > img {
        flex:0;
        width: 0;
        height: 0;
    }

    h1{
        font-size: 2em;
    }

}

@media screen and (min-width:601px) and (max-width:900px) {
    #vid_container{
        width: 300px;
        height: 170px;
    }

    #flex_title > img {
        flex:0.4;
        /* width: 50%; */
        height: 50%;
    }

}

/* ------------------ IMAGE DE FOND -------------------- */


#background_container{
    position:absolute;
    height:4000px;
    top:1350px;
    left:-10vw;
    width:100vw;

}

#background_img{
    width:100%;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top:300px;
    opacity:60%;
    z-index: 0;
} 

#checkbox:checked+#body_borders+#body>#background_container>#background_img{
    opacity: 30%;
}





/* -------------------- FOOTER -----------------------------*/
/* ---- Partie 1 : Définition du conteneur footer flex ---- */
#footer{
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 10;
    bottom:0;
    display: flex;
    align-items:center;
}

#checkbox:checked+#body_borders+#body>#footer{
    background-color: rgb(32, 68, 75);
}

/* ---- Partie 2 : Bordures qui accomagnent le footer ---- */
#checkbox:checked+#body_borders+#body>#bas_de_page{
    background-color: rgb(32, 68, 75);
}

#bas_de_page{
    position: absolute;
    height:150px;
    bottom: 0;
    left: -10vw;
    width:100vw;
    background-color: #997e7e; 

}

/* ---- Partie  3 : Définition des éléments flex + contenu  ---- */

.flex_itm_footer{
    display: block;
    flex:1;
    margin: 25px;
    text-align: center;
}
.flex_itm_footer>a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    color:white;

}
.flex_itm_footer>a:visited {
    color:white;
}


/* --------------------- MENU DEROULANT ----------------------*/

label, #toggle{
    display: none;
}

/* -------------------- MEDIA QUERIES -------------------------- */

/* Ecrans "tablette" */
@media screen and (max-width: 1100px){
 
    #flex_container
    {
        display: none;
        flex-direction: column;
        background: white;
        height: 240px;
    }
 
    #flex_container a {
        width: 50%;
    }

    #void{
        flex:0.5;
    }
 
    label {
        width: 30px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: #704f4f;
        cursor: pointer;
    }

    #checkbox:checked + #body_borders+#body label{
        color: white;
    }

    .flex_item{
        padding-left: 80px;
        width:76%;
    }


    #flex_persos{
        flex:1;
    }

 
    #toggle:checked + #flex_container {
        display: flex;
        position: absolute;
        top:60px;
        width: 350px;
    }

    #checkbox:checked + #body_borders + #body #flex_container {
        background-color:#262f2e;
    }

    #checkbox{
       
        right:9vw;
    }

}
/* Petits écrans */
@media screen and (min-width: 300px) and (max-width:600px) {
    
   label{
       font-size: 30px;
   }

    #void{
        flex:0;
    }

    .flex_item{
        padding-left: 25%;
    }
    
    #toggle:checked + #flex_container{
        width: 100vw;
    }

    .flex_item:hover>.hover_underline {

        width: 80%;
        margin-left: 10%;

    }

}

@media screen and (min-width: 401px) and (max-width:600px) {
    
   label{
       margin: 0 30px 0 0 ;
   }

    #logo a{
        width:190px;
    }

    #checkbox{
        right:7vw;
    }

}

/* Très petits écrans */
@media screen and (min-width: 300px) and (max-width:400px) {

    

    #header{
        height:60px;
    }

    #bandeau{
        height:60px;
    }

    #logo a{
        width:150px;
    }
    #checkbox{
       
        right:7vw;
        top: 1.7vh;
    }
    #checkbox{

        width:35px;
        height:25px; 

    }

    
    #checkbox::before{

        width:15px;
        height:15px;
        top:2.5px;
        left:2.5px;   
    }
    
    #checkbox:checked::before{
        left:14px;
        transition-timing-function: ease-out;
        background-color:  rgb(214, 214, 214);
    }

    .flex_itm_footer{
        margin: 0;
    }

}









/* CONTENU DE LA PAGE MAIN */
/* #vid_container{
    position: relative;
    width:640px;
    height:360px;
    margin: auto;
}

#ornement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

iframe{
    position: absolute;
    top:7.5%;
    left:5%;
    width:89.5%;
    height:85% ;
} */

=======
    transition: transform 1s;
    transition-timing-function: ease-out;
}

#light_img:hover, #dark_img:hover{
    transform: scale(1.05);
}

/* ---- Partie2 : effets sélection checkbox ---- */
#dark_img {
    visibility: hidden;
}
#checkbox:checked+#body_borders+#body>#main_img>#light_img{
    visibility: hidden;
}
#checkbox:checked+#body_borders+#body>#main_img>#dark_img{
    visibility: visible;
}


/* ------------------ IMAGE DE FOND -------------------- */
#background_container{
    position: sticky;
    bottom:190px;
    left:0;
    width: 105vw;
    z-index: 0;
}

#background_container img{
    width: 100%;
}

#background_img{
    position: absolute;
    z-index: 0;
    left:-10vw;
    opacity: 50%;
    
}

#checkbox:checked+#body_borders+#body>#background_container>#background_img{
    opacity: 35%;
}


/* -------------------- FOOTER -----------------------------*/
/* ---- Partie 1 : Définition du conteneur footer flex ---- */
#footer{
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    bottom:0;
    background-color: #997e7e; 
    display: flex;
    align-items:center;
}

#checkbox:checked+#body_borders+#body>#footer{
    background-color: rgb(32, 68, 75);
}

/* ---- Partie 2 : Bordures qui accomagnent le footer ---- */
#checkbox:checked+#body_borders+#body>#bas_de_page{
    background-color: rgb(32, 68, 75);
}

#bas_de_page{
    position: relative;
    height:100px;
    bottom: -40vh;
    left: -10vw;
    width:100vw;
    background-color: #997e7e; 

}

/* ---- Partie  3 : Définition des éléments flex + contenu  ---- */

.flex_itm_footer{
    display: block;
    flex:1;
    margin: 25px;
    text-align: center;
}
.flex_itm_footer>a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    color:white;

}
.flex_itm_footer>a:visited {
    color:white;
}


/* --------------------- MENU DEROULANT ----------------------*/

label, #toggle{
    display: none;
}

/* -------------------- MEDIA QUERIES -------------------------- */

/* Ecrans "tablette" */
@media screen and (max-width: 1050px){
 
    #flex_container
    {
        display: none;
        flex-direction: column;
        background: white;
        height: 240px;
    }
 
    #flex_container a {
        width: 50%;
    }

    #void{
        flex:0.5;
    }
 
    label {
        width: 30px;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: #704f4f;
        cursor: pointer;
    }

    .flex_item:hover>.hover_underline {

        width: 80%;
        margin-left: 10%;

    }

    #checkbox:checked + #body_borders+#body label{
        color: white;
    }

    .flex_item{
        padding-left: 80px;
        width:76%;
    }


    #flex_persos{
        flex:1;
    }

 
    #toggle:checked + #flex_container {
        display: flex;
        position: absolute;
        top:80px;
        width: 350px;
    }

    #checkbox:checked + #body_borders + #body #flex_container {
        background-color:#262f2e;
    }

    #checkbox{
       
        right:9vw;
    }

}
/* Petits écrans */
@media screen and (min-width: 300px) and (max-width:600px) {
    
    
   label{
       font-size: 30px;
   }

    #void{
        flex:0;
    }

    .flex_item{
        padding-left: 25%;
    }
    
    #toggle:checked + #flex_container{
        width: 100vw;
    }

    

    #bas_de_page{
        bottom: -30vh;
    }

    

}

@media screen and (min-width: 401px) and (max-width:600px) {
    
   label{
       margin: 0 30px 0 0 ;
   }

    #logo a{
        width:190px;
    }

    #checkbox{
        right:7vw;
    }

}

/* Très petits écrans */
@media screen and (min-width: 300px) and (max-width:400px) {

    

    #header{
        height:60px;
    }

    #bandeau{
        height:60px;
    }

    #logo a{
        width:150px;
    }
    #checkbox{
       
        right:7vw;
        top: 1.7vh;
    }
    #checkbox{

        width:35px;
        height:25px; 

    }

    #body{
        width: 100%;
        margin-left: 0;
    }
    
    #checkbox::before{

        width:15px;
        height:15px;
        top:2.5px;
        left:2.5px;   
    }

    #toggle:checked + #flex_container {
        left: 0;
     }
    
    #checkbox:checked::before{
        left:14px;
        transition-timing-function: ease-out;
        background-color:  rgb(214, 214, 214);
    }

    .flex_itm_footer{
        margin: 0;
    }

    #bas_de_page{
        left: 0;
    }

}
>>>>>>> 6beafbd (Index et personnages sans ajustements)
